/* fonts  */
@font-face {
    font-family:"Raleway-regular";
    src:url(../fonts/Raleway-Regular.ttf)
}
@font-face {
    font-family:"Raleway-medium";
    src:url(../fonts/Raleway-Medium.ttf)
}
@font-face {
    font-family:"Raleway-bold";
    src:url(../fonts/Raleway-Bold.ttf)
}
@font-face {
    font-family:"Raleway-extrabold";
    src:url(../fonts/Raleway-ExtraBold.ttf)
}
@font-face {
    font-family:"Raleway-semibold";
    src:url(../fonts/Raleway-SemiBold.ttf)
}
@font-face {
    font-family:"Raleway-black";
    src:url(../fonts/Raleway-Black.ttf)
}


/* colors  */

:root {
    --primary:#EEBF00;
    --secondary:#232B38;
    --ternary:#6C6C6C;
    --danger:#FE4545;
    --pure:#FEFEFE;
    --light:#F0F0F0;
    --heaven:#FFFFFF;
    --footer_bg:#131719;
    --footer_links: rgba(255, 255, 255, 0.3);
    --footer_links_hover : #fff;
    --footer_btn_bg : #EEBF00;
    --footer_Y_text: #EEBF00;
    --footer_heading: rgba(255, 255, 255, 0.9);
    --footer_logo: #EEBF00 ;
    --footer_input:rgba(0, 0, 0, 0.3);
    --border_color:rgba(255, 255, 255, 0.05);
    --font_bold:"Raleway-bold";
    --font_extrabold:"Raleway-extrabold";
    --font_semibold:"Raleway-semibold";
}
.about_wrapper{
    background-color: var(--footer_bg);
    color: var(--heaven);
}
section.parallex {
    background: linear-gradient(
        rgba(35,43,56,0.3),
        rgba(35,43,56,0.3)
    ), url(../images/8.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
section.parallex h1{
   font-family: var(--font_extrabold);
}
.about_wrapper .text_left img{
    width: 300px;
    height: 350px;
}
.member {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 50px 150px 50px 150px;
}
.text_right{
    padding-left: 55px !important;
}
.text_left h1{
    font-family: var(--font_extrabold);
    color: var(--danger);
    font-weight: bolder;
    margin-top: -35px;
    margin-left: -22px;
}
.qualification{
    padding-top: 20px;
}
.qlist ul li{
    list-style: none;
}
.qlist ul li span{
    padding-right: 10px;
}


































/* .sec1{
    position: relative;
    padding: 80px 0;
}
.sec1 h3{
    text-transform: uppercase;
    line-height: 40px;
}
.sec1 p{
    line-height: 32px;
}
.sec1-inner{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.sec1 .text{
  width: 47%;
}
.sec1 .text-left{
  text-align: right;
}
.sec1 .text-right{
  text-align: right;
}
.secl:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: linear-gradient(to left, transparent, #fff, transparent);
}
 .secl:after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: linear-gradient(to left, transparent, #fff, transparent);
 }
 .sec2{
    padding: 100px 0 0;
 }
.sec2 h2{
    text-transform: uppercase;
}
.sec2 p{
    line-height: 30px;
}
.sec2-inner{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.sec2-inner .img{
    width: auto;
 }
 .sec2-inner .text{
    width: 50%;
    margin-left: -65px;
     z-index: 9;
 }
 .sec2 .text-inner{
    position: relative;
    margin: 55px 0 0 190px;
 }
 .sec2 .text-inner:before{
    content: '';
    position: absolute;
    top: 8px;
    left: -30px;
    width: 1px;
    height: 100%;
    background: linear-gradient(to top, transparent, #fff);
 }

 .left-right-sec:nth-child(even) .text{
    margin-right: -65px;
    text-align: right;
 }
 .left-right-sec:nth-child(even) .text-inner{
    margin: 55px 190px 0 0;
 }
 .left-right-sec:nth-child(even) .text-inner:before{
    left: inherit;
    right: -30px;
 } */